* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Open Sans', arial, sans-serif;
  min-width: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main-wrapper {
  flex-grow: 1;
  margin-top: var(--iff__spacer--xl);
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

a:visited {
  color: inherit;
}

header {
  display: grid;
  grid-template-columns: 240px minmax(400px, 784px);
  justify-content: center;
  width: 100%;
  align-items: center;
  height: var(--iff-alias__header--height);
}

footer {
  width: 100%;
  min-height: var(--iff-alias__footer--height);
  background: var(--iff-alias__body--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--iff__spacer--sm);
  margin-top: var(--iff__spacer--sm);
}

nav {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
}

nav > a {
  color: #444;
  display: block;
  flex: 1;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}

nav.collection > ul {
  padding: 0;
  list-style: none;
}

nav.collection > ul > li {
  padding: 4px 0;
}

nav.collection > ul > li.selected {
  font-weight: 600;
  --iff-alias__font--color: var(--iff-alias__color--complement);
}

section.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 488px));
  grid-gap: 48px;
  justify-content: center;
}

section.columns > div {
  flex: 1;
}

section.examples {
  display: grid;
  grid-template-columns: 240px minmax(400px, 784px);
  grid-gap: 48px;
  justify-content: center;
}

section.examples h2:first-of-type {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-weight: 600;
}

td,
th {
  border: solid 1px #aaa;
  padding: 4px;
  text-align: left;
}

.collection__end {
  justify-self: start;
  max-width: 720px;
}
