* {
  box-sizing: border-box;
}

*:not(:defined) {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Open Sans', arial, sans-serif;
  min-width: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#main-wrapper {
  flex-grow: 1;
  margin-top: var(--iff__spacer--xl);
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

a:visited {
  color: inherit;
}

footer {
  width: 100%;
  min-height: var(--iff-alias__footer--height);
  background: var(--iff-alias__body--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--iff__spacer--sm);
  margin-top: var(--iff__spacer--sm);
}

section.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 488px));
  grid-gap: 48px;
  justify-content: center;
}

section.columns > div {
  flex: 1;
}

section.examples {
  display: grid;
  grid-template-columns: 240px minmax(400px, 784px);
  grid-gap: 48px;
  justify-content: center;
}

section.examples h2:first-of-type {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-weight: 600;
}

td,
th {
  border: solid 1px #aaa;
  padding: 4px;
  text-align: left;
}

.collection__end {
  justify-self: start;
  max-width: 720px;
}

@media screen and (min-width: 1024px) {
  pre {
    font-size: 1.75rem !important;
  }
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*='language-'],
pre[class*='language-'] {
  max-width: calc(85vw);
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: break-all;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media screen and (min-width: 1024px) {
  code[class*='language-'],
  pre[class*='language-'] {
    max-width: 750px;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 1.5rem 0 5.5rem 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
